
<div class="container-fluid">
  <h5>Total</h5>
  <div class="row">
          <div class="col-6 shadow-sm col-md-3 col-xxl-2 text-center    pb-4 pb-xxl-0 "><span class="uil fs-3 lh-1 uil-envelope text-primary"></span>
            <h1 class="fs-3 pt-3 fw-bold mb-0 pb-0" [ngStyle]="totalOrders >= 0 ? {color:'green'} :{color:'red'}">{{totalOrders}}</h1>
            <p class=" mb-0">Orders</p>
          </div>
          <div class="col-6 shadow-sm col-md-3 col-xxl-2 text-center  border-md-end   pb-4 pb-xxl-0"><span class="uil fs-3 lh-1 uil-envelope-upload text-info"></span>
            <h1 class="fs-3 pt-3 fw-bold mb-0 pb-0" [ngStyle]="totalProducts >= 0 ? {color:'green'} :{color:'red'}">{{totalProducts}}</h1>
            <p class=" mb-0">Products</p>
          </div>
           <div class="col-6 shadow-sm col-md-3 col-xxl-2 text-center  border-md-end   pb-4 pb-xxl-0"><span class="uil fs-3 lh-1 uil-envelope-upload text-info"></span>
            <h1 class="fs-3 pt-3 fw-bold mb-0 pb-0" [ngStyle]="totalCustomers >= 0 ? {color:'green'} :{color:'red'}">{{totalCustomers}}</h1>
            <p class=" mb-0">Customers</p>
          </div>
           <div class="col-6 shadow-sm col-md-3 col-xxl-2 text-center  border-md-end   pb-4 pb-xxl-0"><span class="uil fs-3 lh-1 uil-envelope-upload text-info"></span>
            <h1 class="fs-3 pt-3 fw-bold mb-0 pb-0" [ngStyle]="totalMt > 0 ? {color:'green'} :{color:'red'}">{{totalMt}}</h1>
            <p class=" mb-0">Money Transfer</p>
          </div>
           <div class="col-6 shadow-sm col-md-3 col-xxl-2 text-center  border-md-end   pb-4 pb-xxl-0"><span class="uil fs-3 lh-1 uil-envelope-upload text-info"></span>
            <h1 class="fs-3 pt-3 fw-bold mb-0 pb-0" [ngStyle]="totalProOutOfStock <= 0 ? {color:'green'} :{color:'red'}">{{totalProOutOfStock}}</h1>
            <p class=" mb-0">Out Of Stock Products</p>
          </div>
        </div>
<div class="row">

    <div class="col-md-6 mt-md-3 mt-2">
      <div class="title lh-sm">
        <div class="fs-5 fw-medium pb-0 mb-0">Total Orders</div>
        <div class="fs-6 text-secondary">Year:{{year}}</div>
      </div>
      <canvas id="orders"></canvas> 
    </div>
    <div class="col-md-6 mt-md-3 mt-2">
      <div class="title lh-sm">
        <div class="fs-5 fw-medium pb-0 mb-0">Total Products</div>
        <div class="fs-6 text-secondary">Year:{{year}}</div>
      </div>
      <canvas id="products"></canvas> 
    </div>
  </div>
</div>
