<div class="container-fluid border mt-2">
  <div class="row">
    <div class="col-md-6">
      <h5 class="fw-medium mt-1 mb-1">Order: #{{orderDetails.orderId}}</h5>
      <h6 class="mb-0">Order Date & Time: {{orderDetails.dateOrdered | slice:0:10}} & {{orderDetails.timeOrdered}}</h6>
    </div>
    <div class="col-md-6 align-items-end mt-2 mt-mb-0 d-md-flex justify-content-end">
      <div class="">
        <button class="btn btn-sm btn-outline-primary me-1" *ngIf="!orderDetailsLoader" (click)="openBillDialog()"><i class="bi bi-printer"></i> Print Preview</button>
      </div>
    </div>
  </div>

  <div class="row mt-2 g-2">
    <div class="col-md-8">
      <div class="row">
        
        <div class="col-md-12">
          <div class="position-relative f_13 w-100 orderTable">
        <div class="table-responsive">
          <table class="table border table-responsive table-bordered">
            <thead>
              <tr>
                <th scope="col" class="bg-light">#</th>
                <th scope="col" class="bg-light">P.Id</th>
                <th scope="col" class="bg-light">P.Name</th>
                <th scope="col" class="bg-light">ctg.</th>
                <th scope="col" class="bg-light">Qty.</th>
                <th scope="col" class="bg-light">Price</th>
                <th scope="col" class="bg-light">Pay Met.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="orderDetailsLoader">
                <td colspan="7">
                  <div class="loader-wrapper">
                    <mat-spinner class="small-spinner"></mat-spinner>
                  </div>
               </td> 
              </tr>
              <tr *ngFor="let item of orderDetails.orderItems; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.pId }}</td>
                <td>{{ item.productName }}</td>
                <td>{{ item.productCategory }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.productSellingPrice }}</td>
                <td>{{ item.totalPrice }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
        </div>
        <div class="col-md-12">
          <div>
            <div class="heading mb-3 fs-5 fw-medium">Billing details</div>
                <div class="content forPrint bg-white border d-flex align-items-start justify-content-start mb-2">
                  <div class="icon  p-1"><i class="bi bi-person"></i></div>
                  <div class="content ">
                    <div class="name  fw-medium text-dark f_14 p-1">Customer</div>
                    <div class="name  f_13 text-primary p-1">
                      <a routerLink="../../../manage-customers" class="text-decoration-none">{{orderDetails.customerName}}</a>
                    </div>
                  </div>
                </div>
                <div class="content forPrint bg-white border d-flex align-items-start justify-content-start mb-2">
                  <div class="icon  p-1"><i class="bi bi-telephone"></i></div>
                  <div class="content ">
                    <div class="name  fw-medium text-dark f_14 p-1">Mobile No</div>
                    <div class="name  f_13 text-primary p-1">
                      <a href="tel:9560915445" class="text-decoration-none">{{orderDetails.mobileNo}}</a>
                    </div>
                  </div>
                </div>
        </div> 
      </div>
    </div>  
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 mb-2">
          <div>
        <div class="card">
          <div class="card-header fs-5 fw-medium">
            Summary
          </div>
          <div class="card-body position-relative">
            <div class="row" *ngIf="orderDetailsLoader">
               <div class="loader-wrapper">
                    <mat-spinner class="small-spinner"></mat-spinner>
                  </div>
            </div>
            <div class="row" *ngIf="!orderDetailsLoader">
              <div class="col-8">
                <div class="mb-1">Quantity:</div>
                <div class="mb-1">Shipping Charge:</div>
                <div class="mb-1">Charges:</div>
                <div class="fs-6 fw-bold mt-2">Total:</div>
              </div>
              <div class="col-4 text-end">
                <div class="mt-1">{{orderDetails.numberOfItems}}</div>
                <div class="mt-1">xxx &#8377;</div>
                <div class="mt-1">xxx &#8377;</div>
                <div class="fs-6 fw-bold mt-2">{{orderDetails.totalOrderPrice}} &#8377;</div>
              </div>
            </div>
        </div>
      </div>
        </div>
      </div>
      
    </div>
  </div>
  </div>
 

  </div>


  <div class="successLoader d-flex align-items-end justify-content-center">
    <div class="position-fixed z-2 bg-warning text-dark border border-dark px-3 p-1" [ngStyle]="ispopupStatus ? {'top':'30px','transition':'1s'} :{'top':'-50px','transition':'2s'}" >
      {{popupMsg}} 
    </div>
  </div>